@import "../styles.scss";

$color-salmon: #007090;
$color-barbie: #01a7c2;
$color-claro: #a3bac3;
$color-blanco: #EAEBED;

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, $color-salmon 0, $color-salmon 70%, $color-barbie 100%);
    color: white;
    font-weight: 600;

    @include respond(phone) {
        height: 7vh;
    }

    img {
        width: 20%;
        margin-left: 16px;
    }
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes entrada-derecha {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes salida-izquierda {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100px);
    }


}

.pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111111;
    margin-top: 5vh;
    animation: entrada 0.5s ease-in-out;

    &__header {
        width: 100%;
        background: linear-gradient(100deg, $color-salmon 0, $color-salmon 65%, $color-barbie 100%);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

        color: #fff;

        @include respond(phone) {
            width: 90%;
            max-width: 90%;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 1rem 0;

        // background: linear-gradient(100deg, $color-salmon 0, $color-salmon 65%, $color-barbie 100%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        @include respond(phone) {
            width: 90%;
            max-width: 90%;
        }
    }

    &__title {
        text-align: center;

        @include respond(phone) {
            font-size: 1.7rem;
            margin-bottom: 1rem;

        }
    }

    &__subtitle {
        font-weight: 500;
        width: 90%;
        text-align: center;
    }
    &__confirmacion{
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $color-barbie;
            width: 90%;
            margin-top: 1rem;
            color: #fff;
            padding: 1rem;
            border-radius: 15px;
            hr{
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
                width: 100%;
                border: #5a6a6e9a 1px solid;
            }
        }
        &__title{
            font-size: 1.1rem;
            font-weight: 800;
        }


    }
    &-tipo {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 2rem;
        gap: 2.5rem;

        @include respond(phone) {
            flex-direction: column;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 7.5%;
            border-radius: 15px;
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
            background: linear-gradient(to right, $color-claro 0, $color-salmon, $color-barbie 40%, $color-blanco 40%);
        }

        &__imagen {
            width: 30%;
        }

        &__title {
            @include respond(phone) {
                font-size: 1.4rem;
            }
        }
    }

    &__buttons {
        width: 90%;
        display: flex;
        justify-content: space-between;

        &__onlyone {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__button {
        width: 40%;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 15px;
        border: none;
        background: linear-gradient($color-salmon 0, $color-salmon 65%, $color-barbie 100%);
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &-volver {
            background: linear-gradient(to right, #facf40, #ffc70e, #f8c726, #facf40);
        }
    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        &__fieldset {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
            border: none;

        }

        &__resized {
            width: 90%;
            justify-content: center;
        }

        &__textarea {
            width: 85%;
            height: 25vh;
            border-radius: 15px;
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
            resize: none;

            background-color: $color-blanco;
            color: #111;

            &::placeholder {
                color: #191919;
            }

            &__container {
                position: relative;
                font-size: 1.2rem;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            &__contador {
                position: absolute;
                bottom: 0;
                right: 9%;
            }
        }

        &__file {
            width: 85%;
            margin-top: 1rem;
            height: 10vh;
            border-radius: 15px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 1rem;
            font-size: 1.2rem;

            background-color: $color-blanco;
            background: linear-gradient(to right, $color-claro 0, $color-salmon, $color-barbie 27%, $color-blanco 27%);
            color: #111;

            cursor: pointer;

            img {
                width: 20%;
                margin-right: 1rem;
            }

            span {
                width: 70%;
                max-width: 70%;
            }
        }

        &__input {
            width: 100%;
            border-radius: 15px;
            border: none;
            padding: 1rem;
            font-size: 1.2rem;
            background-color: $color-blanco;
            color: #111;
            cursor: pointer;

            &::placeholder {
                color: #191919;
            }
        }

        &__con-label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 1rem;
            label {
                font-size: 1.2rem;
                margin-right: 0.5rem;

            }
        }
    }
}


.salida {
    &-izquierda {
        animation: salida-izquierda 0.5s ease-in-out forwards;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.especial {
    &__label {
        font-size: 1.2rem;
    }

    &___input {
        width: 90%;

    }
}

.error {
    border: solid 5px red;

    &__label {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        color: red;
    }
}

.tarjeta {
    width: 90%;
    height: 75px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    width: 90%;
    display: flex;
    justify-content: center;
    height: 75px;
    color: #fff;

    &__flipper {
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;

        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;

        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;

        transition: 0.6s;
        transform-style: preserve-3d;
        width: 300px;
        height: 150px;
        position: relative;
    }
   
    &__front {
        width: 300px;
        height: 150px;
        border-radius: 15px;
        background-color: $color-salmon;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        background: linear-gradient(#007090 , #01a7c2);
        position: absolute;
        top: 0;
        left: 0;

        &-info {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        &-otra-info {
            margin-left: 20px;
            margin-top: 25px;
        }
    }

    &__back {
        width: 300px;
        height: 150px;
        border-radius: 15px;
        background-color: $color-salmon;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        left: 0;

        background: linear-gradient(#007090 , #01a7c2);
        &-banda {
            margin-top: 25px;
            height: 30px;
            background-color: #BEBEBE;
            background: linear-gradient(to right, #BEBEBE 70%, #fffcfc);
            width: 100%;
        }

        &-cvc__container {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        p {
            transform: translateX(30%);
        }
    }

}

.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}